.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items:  center;
    justify-content:  center;
}
.banner-video{
    filter: brightness(30%);
    position: fixed;
    top:0;
    right :0;
    bottom: 0;
    z-index: -3;
}


@media (min-width : 700px){
    .banner-video{
        width: 100%;
        height: auto;
    }
    .heading h1{
        font-size: 180px;
    }
    .options{
        margin-top: 110%;
    }
}
@media (max-width : 700px){
    .banner-video{
        height: 100%;
        width: auto;
    }
    .heading h1{
        font-size: 80px;
    }
    .dummy{
        height: 100%;
        width: auto;
    }
    .options{
        margin-top: 350%;
    }
}

.heading{
    z-index: -1;
    position: fixed;
    text-align: center;
}
.heading h1{
    z-index: inherit;
    font-weight: 900;
    color: #ffffff;
}